* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
}

html {
  font-size: 14px;
}

body {
  background-color: #282828;
  height: 100%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.container {
  width: 100%;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fff;
}

.degrade {
  background: linear-gradient(to right, #FE4701, #FF0054);
}

header img {
  width: 100px;
  max-width: 150px;
  margin-bottom: 20px;
  border-radius: 50%;
}

header h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #5e5e5e;
  font-weight: 300;
}

header p {
  font-size: 1em;
  line-height: 1.5em;
}

section.botoes-links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

a.link button {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  border-radius: 30px;
  font-size: 1.2em;
  cursor: pointer;
  color: #fff;
  transition: .2s;
}

a.link i {
  font-size: 1.5em;
}

a.link button:hover, footer a.btn-footer:hover {
  transform: scale(1.05);
}

footer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 30px;
}

footer a.btn-footer {
  width: 50px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  border-radius: 50%;
  transition: .2s;
}

/* MEDIA QUERIES */

@media (min-width: 576px) {
  html {
    font-size: 16px;
  }

  header h1 {
    font-size: 2em;
  }

  header p {
    font-size: 1.2em;
  }

  a.link button {
    font-size: 1.3em;
  }

  footer a.btn-footer {
    width: 60px;
    height: 60px;
    font-size: 2em;
  }
}
